body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;  /* stack elements vertically */
    align-items: center;     /* center horizontally */
    justify-content: flex-start; /* start from top */
    font-family: sans-serif;
    background-color: #f7f7f7;
    min-height: 100vh;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
    color: #333;
}


.line {
  fill: none;
  stroke-width: 2px;
}

.line.historical { stroke: black; }
.line.ssp126 { stroke: green; }
.line.ssp245 { stroke: blue; }
.line.ssp370 { stroke: orange; }
.line.ssp585 { stroke: red; }
.line.prediction { fill: none; stroke-width: 2px; }

.dot { stroke-width: 1px; }
.dot.historical { fill: black; }
.dot.ssp126 { fill: green; }
.dot.ssp245 { fill: blue; }
.dot.ssp370 { fill: orange; }
.dot.ssp585 { fill: red; }

.tooltip {
    font-size: 12px;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    pointer-events: none;
    opacity: 0;
}






svg#map {
  width: 960px;
  height: 500px;
  border: 1px solid #ccc;
  background-color: #6eb3d5; /* light ocean color */
}

/* Country styling */
.country {
  fill: #ccc;
  stroke: #333;
  stroke-width: 0.5px;
  transition: fill 0.3s;
}

.country:hover {
  fill: orange;
}
